/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;

  background-image: url(./images/background-website.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1ecff;

  min-height: 100vh;
}

.material-icons-round {
  font-weight: 700;
  font-size: 1.875rem;
}

/* ====== HEADER ====== */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;

  margin-top: 40px;
}

header img {
  width: 25px;
  height: 25px;
}

/* ====== MAIN ====== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;

  margin: 50px 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
}

.pokemons {
  width: 310px;
  height: 520px;

  position: relative;
}

.arrow-button {
  width: 70px;
  height: 70px;

  background-color: #f1ecff;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 30px 0px;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.arrow-button:hover {
  background-color: #8351fe;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;

  padding: 12px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 30px 0px;
  transition: opacity 0.3s ease-in-out;
}

.background-1 {
  background: url(./images/background-card-1.jpg) no-repeat;
}

.background-2 {
  background: url(./images/background-card-2.jpg) no-repeat;
}

.background-3 {
  background: url(./images/background-card-3.jpg) no-repeat;
}

.background-4 {
  background: url(./images/background-card-4.jpg) no-repeat;
}

.card .pokemon {
  flex: 2;
}

.pokemon .pokemon-info {
  background-color: rgba(179, 177, 185, 0.7);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pokemon-info h2 {
  font-size: 1.375rem;
}

.pokemon-info p {
  background-color: #333333;

  min-width: 64px;
  text-align: center;

  padding: 6px 10px;
  border-radius: 20px;
}

.pokemon .pokemon-type {
  background-color: #333333;
  padding: 6px 0px;
}

.pokemon-type h3 {
  font-size: 0.9375rem;
  text-align: center;
}

.card .pokemon-image {
  text-align: center;
  flex: 1;
}

.pokemon-image img {
  max-width: 100%;
  height: 280px;

  opacity: 0;
  animation: whoThisPokemon 0.4s 1.6s backwards ease-out;
}

.pokemon-image img.opacity {
  opacity: 1;
}

.card .description {
  background-color: rgba(255, 255, 255, 0.8);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.description h3 {
  font-size: 0.9375rem;

  padding: 4px 8px;
  padding-right: 0px;
}

.ability h3 {
  background-color: #444444;
}

.move h3 {
  background-color: #555555;
}

.description p {
  font-size: 0.875rem;
  text-align: justify;
  color: #000000;

  max-height: 40px;
  padding: 6px 8px;
  overflow-y: auto;
}

/* ====== FOOTER ====== */
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

footer small {
  text-align: center;
}

footer small a {
  color: #f1ecff;
  font-weight: 700;
}

/* ====== ANIMATIONS ====== */
@keyframes whoThisPokemon {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 620px) {
  main {
    padding: 0 15px;
    column-gap: 10px;
  }

  .arrow-button {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .pokemons {
    height: 560px;
  }

  .pokemon-info h2 {
    max-width: 50%;
    font-size: 1.125rem;
  }

  .pokemon-info p {
    font-size: 0.875rem;
  }

  .card .pokemon-image {
    max-height: 230px;
  }
}
