/* ====== MEDIA QUERIES ====== */
@media (max-width: 620px) {
  main.pokemon-slider {
    padding: 0 15px;
    gap: 10px;
  }

  .pokemon-slider .arrow-button {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .pokemon-slider .pokemons {
    height: 480px;
  }

  .card .pokemon-image {
    max-height: 230px;
  }

  .card .pokemon .pokemon-name {
    max-width: 50%;
    font-size: 18px;
  }

  .card .pokemon .pokemon-health {
    font-size: 14px;
  }
}
